body {
  font-family: 'Titillium Web';
  margin: 0;
  padding: 0; /* Add this line to remove the default padding */
  overflow: hidden;
}

.triggers {
  bottom: 20px;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  color: #fff;
  margin-top: 20px; /* Add this line to create space at the top */
}

span {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px; /* Adjust the margin for better spacing on mobile */
  padding: 4px 8px; /* Adjust the padding for better spacing on mobile */
  transition: all 0.5s;
}

span[data-disabled="true"] {
  opacity: 0.3;
  pointer-events: none;
}

/* Media Query for smaller screens */
@media screen and (max-width: 480px) {
  .triggers {
    position: static;
    text-align: center;
    margin-top: 20px;
    bottom: auto; /* Remove the bottom positioning */
  }

  span {
    font-size: 12px;
    padding: 6px 12px; /* Adjust the padding for better spacing on mobile */
    margin: 6px; /* Adjust the margin for better spacing on mobile */
  }
}
