body {
  font-family: 'Titillium Web';
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black; /* Add a black background color */
}

.triggers {
  position: fixed; /* Change the position to fixed */
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  color: #fff;
}

span {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  padding: 4px 8px;
  transition: all 0.5s;
}

span[data-disabled="true"] {
  opacity: 0.3;
  pointer-events: none;
}

/* Media Query for smaller screens */
@media screen and (max-width: 480px) {
  .triggers {
    position: fixed;
    bottom: 0; /* Align the buttons to the bottom */
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    color: #fff;
    background-color: black; /* Add a black background color */
    padding: 10px; /* Add some padding for better spacing */
  }

  span {
    font-size: 12px;
    padding: 6px 12px;
    margin: 6px;
  }
}
